<!doctype html>
<html>
	<head>
		<title>VE chat</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<script src="/js/cookieHandler.js"></script>
		<script src="/js/sound.js"></script>
		<script src="/js/scroll.js"></script>
	</head>
	<body onload="checkCookie()">
		<div id="messagebody">
			<ul id="messages"></ul>
			<div id="sound"></div>
		</div>
		<form id="form" action="">
			<input id="m" autocomplete="off" /><button>Send</button>
		</form>
		<script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.js"></script>
		<script>
			var socket = io();
			$('form').submit(function(){
				socket.emit('chat message', getCookie("username") + ": " + $('#m').val());
			    $('#m').val('');
			    return false;
			});
			socket.on('announce', function(msg){
				$('#messages').append($('<li>').text(msg));
			});
			var id = 0;
			socket.on('chat message', function(msg){
				 // @param filename The name of the file WITHOUT ending
				$('#messages').append($('<li id="' + id + '">').text(msg));
				playSound('notification');
				scroll(id);
				id++;
			});
			socket.on('disconnect', function(){
				$('#messages').append($('<li>').text( + " disconnected"));
				playSound('disconnect');
			});
		</script>
	</body>	
</html>
