<!doctype html>
<html>
	<head>
		<title>VE chat</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<script src="/js/cookieHandler.js"></script>
		<script src="/js/sound.js"></script>
	</head>
	<body onload="checkCookie()">

		<ul id="messages"></ul>
		<div id="sound"></div>
		<form action="">
			<input id="m" autocomplete="off" /><button>Send</button>
		</form>
		<script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.js"></script>
		<script>
			var socket = io();
			$('form').submit(function(){
				socket.emit('chat message', getCookie("username") + ": " + $('#m').val());
			    $('#m').val('');
			    return false;
			});
			socket.on('announce', function(msg){
				$('#messages').append($('<li>').text(msg));
			});
			socket.on('chat message', function(msg){
				 // @param filename The name of the file WITHOUT ending
				$('#messages').append($('<li>').text(msg));
				playSound('notification');
			});
			socket.on('disconnect', function(){
				socket.emit('announce', getCookie("username") + " disconnected" + $('#m').val());
				$('#m').val('');
				playSound('disconnect');
			});
		</script>
	</body>	
</html>
